<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
	<script src="https://kit.fontawesome.com/9791b7f78d.js" crossorigin="anonymous"></script> <!-- font awesome 사용-->
    <title>vote!</title>
</head>
<body class="grid">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	<script>
		$.ajax
	</script>

    <div class="side-space">
		<div class="sidebar">
			<ul class="nav">
				<li>
					<a href="/">
						<span style="font-size: 50px; font-family: Century Gothic, sans-serif;">vote!</span>
					</a>
				</li>
				<div class="sidebar-line"></div>
				<li>
					<a href="/">
						<i class="fa-solid fa-house"></i>
						<span>Home</span>
					</a>
				</li>
				<li>
					<a href="closed">
						<i class="fa-solid fa-hourglass-end"></i>
						<span class="finished">finished</span>
					</a>
				</li>
				<br>
				<li>
					<a href="make" style="font-size: 27px; color: #3448fd;">
						<i class="fa-regular fa-square-plus"></i>
						<span>make vote</span>
					</a>
				</li>
			</ul>
			<div class="side-profile">
				<% if(userNickname) { %>
					<a><%= userNickname %>님 안녕하세요!</a>
					<a href="logout" class="border">로그아웃</a>
				<% } else { %>
					<a href="login" class="border">로그인</a>
					<a href="signup" class="border">회원가입</a>
				<% } %>
			</div>
		</div>
	</div>
	<div class="main-space">
		<% let participate = 0; %>
		<% for(let i=0; i<voteInfo.length; i++) { %>
		<div class="content">
			<div class="profile-image">
				<img src="img/blank.png">
			</div>
			<div class="content-main">
				<div class="contnet-information">
					<a class="content-nickname"><%= voteInfo[i].nickname %></a>
				</div>
				<div class="content-text"><%= voteInfo[i].content %></div>
				<div class="participate"><%= participate %>명 투표</div>
				<div class="vote">
					<% if(voteInfo[i].voteItem.length) { %>
						<% for(let q=0; q<voteInfo[i].voteItem.length; q++) { %>
						<div id="<%= i %>-<%= q %>" class="choice-box">
							<a><%= voteInfo[i].voteItem[q] %></a>
							<% participate += voteInfo[i].votes[q]; %>
						</div>
						<% }%>
					<% }%>
				</div>
			</div>
		</div>
		<% }%>
	</div>
</body>
</html>